!.gitkeep
shared/.htpasswd
.DS_Store
.env
*.key
*.db
*.pub
portainer/data/config.json
*.log
*.0
config.production.json
.vscode/
**__pycache__**
mariadb.zip
secrets
nextcloud/*
bookstack/config
bookstack/data
!authelia/example.configuration.yml
authelia/*
discord/
monitoring/prometheus_db
jackett/
jellyfin/
media_data/
radarr/
sonarr/
transmission/
valheim/
jekyll/
ghost/